{% extends 'todo/base.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'list-subtask' task_id %}">&#8592; Go Back</a>
</div>

<div class="card-body">
     <div>
       <style>
          h5{
          color: red;
          }
       </style>
       {% for message in messages %}
       <h5>{{message}}</h5>
        {% endfor %}
    </div>
    <form method="POST">
        {% csrf_token %}
        <p>Are your sure you want to delete this task? <b>"{{sub_task}}"</b> </p>
        <input class="button" type="submit" value="Delete" />
    </form>
</div>
{% endblock content %}