{% extends 'todo/base.html' %}
{% block content %}
{% load static %}
<html lang="en">
   <head>
       <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="{% static 'todo/css/drop_down.css' %}">
   </head>
    <body>
        <div class="header-bar">
            <div>
                <a href="{% url 'list' tag_id %}">&#8592; Go Back</a>
                <h1>Hello {{request.user|title}}</h1>
            </div>
            {% if request.user.is_authenticated %}
            <div class="text-center mt-5 space-x-2">
                 <p class="text-base" style="margin:auto;">
                    <a href="{% url 'logout' %}">Logout</a>{% else %}
                    <a href="{% url 'login' %}">Login</a> {% endif %}
                 </p>
                <p class="text-muted">
                    <a href="{% url 'change_password' %}">Change Password?</a>
                 </p>
            </div>
        </div>
       <style>
          h5{
          color: green;
          }
       </style>
        {% for message in messages %}
        <h5>{{message}}</h5>
        {% endfor %}

        <div id="search-add-wrapper">
              <form method="GET" style="display: flex; margin-top:10px">
                <input type='text' name='search-area' placeholder="Search your task" value="{{search_input}}">
                <input class="button" type="submit" value='Search'>
              </form>
            <br>
            <a id="add-link" href="{% url 'add-subtask' task_id %}" style="margin-right:12px;">&#x2b;</a>
        </div>

        <div id="tasklist" class="task-items-wrapper" style="margin-top: 12px; height:57px">
            {% for sub_task in sub_tasks %}
            <div class="task-wrapper" data-position="{{sub_task.pk}}" style="margin-bottom:15px;padding-top:15px;">
                <div class="sub_task-title" style="margin-left:20px;"></div>
                    {% if sub_task.complete %}
                    <div class="task-complete-icon"></div>
                    <i><s><a href="#" style="text-decoration:none;">{{sub_task}}</a></s></i> {% else %}
                    <div class="task-incomplete-icon"></div>
                    <a href="#" style="text-decoration:none;">{{sub_task}}</a> {% endif %}
<!--                </div>-->
                <div class="dropdown">
                  <button class="dropbtn" style="margin-left:350px;">&nbsp;&#10247;</button>
                  <div class="dropdown-content" style="margin-left:350px;">
                      <a href="{% url 'delete-subtask' sub_task.id %}">Delete</a>
                      <a href="{% url 'update-subtask' sub_task.id %}">Edit</a>
                      <a href="{% url 'view-subtask' sub_task.id %}">View</a>
                      <a href="{% url 'move-subtask' sub_task.id %}">Move to another task</a>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <script>
        var taskList = document.getElementById("tasklist");
        var reorderForm = document.getElementById("reorderForm");
        var positionInput = document.getElementById("positionInput");

        let sortable = Sortable.create(taskList, {
            handle: '.handle',
            ghostClass: 'dropArea',
            chosenClass: 'selectedTask',

        });

        function reordering() {
            const rows = document.getElementsByClassName("task-wrapper");
            let pos = [];
            for (let row of rows) {
                pos.push(row.dataset.position);
            }
            console.log(pos.join(","))
            positionInput.value = pos.join(',');
            reorderForm.submit();
        }
        document.ondrop = reordering
        </script>
    </body>
</html>
{% endblock content %}