{% extends 'todo/base.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'list-subtask' task_id %}">&#8592; Back</a>
</div>

    <div class="card-body">
        <div>
           <style>
              h5{
              color: green;
              }
           </style>
           {% for message in messages %}
           <h5>{{message}}</h5>
            {% endfor %}
        </div>
        Move Subtask:<br>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="Move Subtask" />
        </form>
    </div>

{% endblock content %}