{% extends 'todo/base.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'list-subtask' task_id %}">&#8592; Back</a>
</div>

{% if sub_tasks %}
<h3>SubTask Detail</h3>
{% endif %}
<ul>
    {% for subtask in sub_tasks %}
    <li>
            <div>Subtask</div>
            {{ subtask }}
            <br>
        <br>
    </li>
    <li>
            <div>Detail</div>
            {{ subtask.detail }}
            <br>
        <br>
    </li>
    <li>
            <div>Complete</div>
            {{ subtask.complete }}
            <br>
        <br>
    </li>
    <li>
            <div>Completion Date</div>
            {{ subtask.completion_date }}
        <br>
        <br>
    </li>
    <li>
            <div>Created Date</div>
            {{ subtask.created_date }}
            <br>
        <br>
    </li>
    {% empty %}
    <li>No Subtask yet.</li>
    {% endfor %}
</ul>

{% endblock content %}

