{% extends 'todo/base.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'tag_list' %}">&#8592; Back</a>
</div>
<div class="card-body">
    <div>
       <style>
          h5{
          color: green;
          }
       </style>
       {% for message in messages %}
       <h5>{{message}}</h5>
        {% endfor %}
    </div>
    <form method="POST" action="">
        {% csrf_token %}
          <style>
                label{
                    margin-left:245px;
                    margin-bottom:15px;
                    }
              input[type=text]{
              width:96%;
                  }
            </style>
        <BR>
        {{form}}
        <br>
        <input class="button" type="submit" value="Submit" style="margin-left:230px; margin-top:18px;">
    </form>
</div>
{% endblock content %}