{% extends 'todo/base.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'list' tag_id %}">&#8592; Back</a>
</div>
<div class="card-body">
    <div>
       <style>
          h5{
          color: green;
          }
       </style>
       {% for message in messages %}
       <h5>{{message}}</h5>
        {% endfor %}
    </div>
    Add Task:
    <form method="POST" action="">
        {% csrf_token %}
        {{form}}
        <br>
        <input class="button" type="submit" value="Submit" style="margin-top:18px;">
    </form>
</div>

{% endblock content %}