{% extends 'todo/base.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'list' tag_id %}">&#8592; Back</a>
</div>

{% if tasks %}
<h3>Task Detail</h3>
{% endif %}
<ul>
    {% for task in tasks %}
    <li>
            <div>Task</div>
            {{ task }}
            <br>
        <br>
    </li>
    <li>
            <div>Detail</div>
            {{ task.detail }}
            <br>
        <br>
    </li>
    <li>
            <div>Complete</div>
            {{ task.complete }}
            <br>
        <br>
    </li>
    <li>
            <div>Completion Date</div>
            {{ task.completion_date }}
        <br>
        <br>
    </li>
    <li>
            <div>Created Date</div>
            {{ task.created_date }}
            <br>
        <br>
    </li>
    {% empty %}
    <li>No task yet.</li>
    {% endfor %}
</ul>

{% endblock content %}

