{% extends 'todo/base.html' %}
{% block content %}
{% load static %}

<html lang="en">
   <head>
       <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="{% static 'todo/css/drop_down.css' %}">
   </head>

    <body>
    <div class="header-bar">
        <div>
            <a href="{% url 'tag_list' %}">&#8592; Go Back</a>
            <h1>Hello {{request.user|title}}</h1>
            <h3 style="margin:0">You have <i>{{count}}</i> incomplete task{{ count|pluralize:"s" }}</h3>
        </div>
        {% if request.user.is_authenticated %}
        <div class="text-center mt-5 space-x-2">
             <p class="text-base" style="margin:auto;">
                <a href="{% url 'logout' %}">Logout</a>{% else %}
                <a href="{% url 'login' %}">Login</a> {% endif %}
             </p>
            <p class="text-muted">
                <a href="{% url 'change_password' %}">Change Password?</a>
             </p>
        </div>
    </div>
        <div>
           <style>
              h5{
              color: green;
              }
           </style>
            {% for message in messages %}
            <h5>{{message}}</h5>
            {% endfor %}
        </div>
    <div id="search-add-wrapper">
         <form method="GET" style="display: flex;">
            <input type='text' name='search-area' placeholder="Search your task" value="{{search_input}}">
            <input class="button" type="submit" value='Search'>
             <a id="add-link" href="{% url 'create_task' tags %}" style="margin-left:210px;">&#x2b;</a>
        </form>
    </div>

    <div id="tasklist" class="task-items-wrapper">
        {% for task in tasks %}
        <div class="task-wrapper" data-position="{{task.pk}}">
            <div class="task-title">
                {% if task.complete %}
                <div class="task-complete-icon"></div>
                <i><s><a href="{% url 'list-subtask' task.id %}">{{task}}</a></s></i> {% else %}
                <div class="task-incomplete-icon"></div>
                <a href="{% url 'list-subtask' task.id %}">{{task}}</a> {% endif %}
            </div>
             <div class="dropdown">
                  <button class="dropbtn">&nbsp;&#10247;</button>
                  <div class="dropdown-content">
                      <a href="{% url 'delete_task' task.id %}">Delete</a>
                      <a href="{% url 'update_task' task.id %}">Edit</a>
                      <a href="{% url 'detail' task.id %}">View</a>
                  </div>
                </div>
        </div>
        {% empty %}
        </div>
        {% endfor %}
    </div>
    <script>
    var taskList = document.getElementById("tasklist");
    var reorderForm = document.getElementById("reorderForm");
    var positionInput = document.getElementById("positionInput");

    let sortable = Sortable.create(taskList, {
        handle: '.handle',
        ghostClass: 'dropArea',
        chosenClass: 'selectedTask',

    });

    function reordering() {
        const rows = document.getElementsByClassName("task-wrapper");
        let pos = [];
        for (let row of rows) {
            pos.push(row.dataset.position);
        }
        console.log(pos.join(","))
        positionInput.value = pos.join(',');
        reorderForm.submit();
    }
    document.ondrop = reordering
</script>
    </body>
{% endblock content %}
</html>