{% extends 'todo/base.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'tag_list' %}">&#8592; Back</a>
</div>
<div class="card-body">
    <div>
       <style>
          h5{
          color: green;
          }
       </style>
       {% for message in messages %}
       <h5>{{message}}</h5>
        {% endfor %}
    </div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Submit">
    </form>
</div>
{% endblock content %}