{% extends 'todo/base.html' %}
{% block content %}
{% load static %}
<html lang="en">
   <head>
       <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" type="text/css" href="{% static 'todo/css/drop_down.css' %}">
   </head>
    <body>
    <div class="header-bar">
        <div>
            <a href="{% url 'tag_list' %}">&#8592; Go Back</a>
            <h1>Hello {{request.user|title}}</h1>
        </div>
        {% if request.user.is_authenticated %}
        <div class="text-center mt-5 space-x-2">
             <p class="text-base" style="margin:auto;">
                <a href="{% url 'logout' %}">Logout</a>{% else %}
                <a href="{% url 'login' %}">Login</a> {% endif %}
             </p>
            <p class="text-muted">
                <a href="{% url 'change_password' %}">Change Password?</a>
             </p>
        </div>
    </div>
    <div>
       <style>
          h5{
          color: green;
          }
       </style>
        {% for message in messages %}
        <h5>{{message}}</h5>
        {% endfor %}
    </div>
    <div id="search-add-wrapper">
          <form method="GET" style="display: flex; margin-top:10px">
              <input type='text' name='search-area' placeholder="Search your task" value="{{search_input}}">
              <input class="button" type="submit" value='Search'>
              <a id="add-link" href="{% url 'create_tag' %}" style="text-decoration:none; margin-left:210px; margin-top:-9px;">&#x2b</a>
        </form>
    </div>

    <div id="taglist" class="tag-items-wrapper" style="margin-top: 7px;">
        {% for tag in tags %}
        <div class="task-wrapper" data-position="{{tag.pk}}">
            <div class="tag-title">
                <p style="font-weight:bold; margin-left:20px">
                    <a href="{% url 'list' tag.id %}" style="text-decoration:none;">{{tag}}</a>
                </p>
            </div>
                <div class="dropdown">
                  <button class="dropbtn">&nbsp;&#10247;</button>
                  <div class="dropdown-content">
                      <a href="{% url 'delete_tag' tag.id %}">Delete</a>
                      <a href="{% url 'update_tag' tag.id %}">Edit</a>
                  </div>
                </div>
        </div>
        {% endfor %}
    </div>
    <script>
       var positionInput = document.getElementById("positionInput");

        let sortable = Sortable.create(taskList, {
            handle: '.handle',
            ghostClass: 'dropArea',
            chosenClass: 'selectedTask',

        });

        function reordering() {
            const rows = document.getElementsByClassName("task-wrapper");
            let pos = [];
            for (let row of rows) {
                pos.push(row.dataset.position);
            }
            console.log(pos.join(","))
            positionInput.value = pos.join(',');
            reorderForm.submit();
        }
        document.ondrop = reordering
</script>
{% endblock content %}