{% load static %}
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="{% static 'users/images/favicon.png' %}" rel="icon" type="image/png">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
      <title>To-Do App</title>
      <link rel="stylesheet" href="{% static 'users/css/icons.css' %}">
      <link rel="stylesheet" href="{% static 'users/css/uikit.css' %}">
      <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
      <link rel="stylesheet" href="{% static 'users/css/tailwind.css' %}">
      <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
   </head>
   <body class="bg-light">

      <!-- header-->
      <div class="bg-white py-4 shadow dark:bg-gray-800">
      <div class="max-w-6xl mx-auto">
         <div class="flex items-center lg:justify-between justify-around">
            <a href="#">
               <b>
                  <h1 style="font-size: 1.5rem;">ToDo App</h1>
               </b>
            </a>
            <div class="capitalize flex font-semibold hidden lg:block my-2 space-x-3 text-center text-sm">
               <div class="capitalize flex font-semibold hidden lg:block my-2 space-x-3 text-center text-sm">
                  <a href="{% url 'register' %}" class="bg-pink-500 pink-500 px-6 py-3 rounded-md shadow text-white">Register</a>
               </div>
            </div>
         </div>
      </div>
      <div>
         <div class="lg:p-12 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6" >
            <h1 class="lg:text-3xl text-xl font-semibold  mb-6"> Log in</h1>
            <div>
               <style>
                  h5{
                  color: green;
                  font-size:1.1rem;
                  }
               </style>
               {% for message in messages %}
               <h5>{{message}}</h5>
               {% endfor %}
            </div>
            <form action="" method="POST">
               {% csrf_token %}
               <input type="text" name="username" placeholder="Username" class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
               <input type="password" name="password" placeholder="Password" class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
               <button type="submit" class="bg-gradient-to-br from-pink-500 py-3 rounded-md text-white text-xl to-red-400 w-full">Login</button>
               <br>

               <div class="text-center" style="margin-top:13px; margin-left:-82px">
                   <a class="btn btn-primary" style="background-color: light-gray;" href="{% url 'social:begin' 'google-oauth2' %}" role="button"><i class="bi bi-google"></i></a>
               </div>

                <div class="text-center" style="margin-top:-23px; margin-left:110px">
                <a class="btn btn-primary" style="background-color: light-gray" href="{% url 'social:begin' 'github' %}" role="button"><i class="bi bi-github"></i></a>
                </div>
               <div class="text-center mt-5 space-x-2">
                  <p class="text-base"> Not registered? <a href="{% url 'register' %}" class=""> Create an account </a></p>
                  <p class="text-muted">
                     <a href="{% url 'password_reset' %}">Forgot Password?</a>
                  </p>
               </div>
            </form>

      <!-- Scripts
         ================================================== -->
      <script src="{% static 'users/js/tippy.all.min.js' %}"></script>
      <script src="{% static 'users/js/jquery-3.3.1.min.js' %}"></script>
      <script src="{% static 'users/js/uikit.js' %}"></script>
      <script src="{% static 'users/js/simplebar.js' %}"></script>
      <script src="{% static 'users/js/custom.js' %}"></script>
   </div>
      </div>
   </body>
</html>