{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>sign up-ToDo App</title>
    <link rel="stylesheet" href="{% static 'users/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
</head>

<body class="bg-light">

        <!-- header-->
        <div class="bg-white py-4 ">
            <div class="max-w-6xl mx-auto">
                <div class="flex items-center lg:justify-between justify-around">
                    <a href="#">
                        <b><h1 style="font-size: 1.5rem;">ToDo App</h1></b>
                    </a>
                    <div class="capitalize flex font-semibold hidden lg:block my-2 space-x-3 text-center text-sm">
                    <div class="capitalize flex font-semibold hidden lg:block my-2 space-x-3 text-center text-sm">
                        <a href="{% url 'login' %}" class="bg-pink-500 pink-500 px-6 py-3 rounded-md shadow text-white">Sign in </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content-->

        <div>
            <div class="lg:p-12 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
                <h1 class="lg:text-3xl text-xl font-semibold mb-6">Sign Up</h1>
                <div>
                    <style>
                            h5{
                              color:green;
                              font-size:1.3rem;
                        }
                    </style>
                    {% for message in messages %}
                    <h5>{{message}}</h5>
                    {% endfor %}
                </div>

                <form action="" method="POST">
                    {% load crispy_forms_tags %}
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="bg-gradient-to-br from-pink-500 py-3 rounded-md text-white text-xl to-red-400 w-full">Sign Up</button>
                    <div class="text-center mt-5 space-x-2">
                        <p class="text-base"> Do you have an account? <a href="{% url 'login' %}"> Login </a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Scripts
    ================================================== -->
    <script src="{% static 'users/js/tippy.all.min.js' %}"></script>
    <script src="{% static 'users/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'users/js/uikit.js' %}"></script>
    <script src="{% static 'users/js/simplebar.js' %}"></script>
    <script src="{% static 'users/js/custom.js' %}"></script>

</body>
</html>